@media (min-width: 1024px) {
    #head {
        width: 1024px;
    }

    #menu,
    #entry {
        width: 200px;
    }

    #body{
        width: 624px;
    }

    #footer{
        height: 107px;
    }
}
@media (max-width: 1024px) {
    #head {
        width: 100%;
    }

    #menu,
    #entry,
    #basket {
        width: 20%;
    }

    #body{
        width: 59%;
    }
}


html,
body {
    height: 100%;
}

.container {
    min-height: 100%;
}

/*Футер*/
#buffer {
    clear: both;
    position: relative;
    bottom: 0;
    height: 110px;
}

#footer {
    position: relative;
    min-height: 107px;
    margin-top: -107px;
}

#footer {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    #footer {
        width: 750px;
    }
}
@media (min-width: 992px) {
    #footer {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    #footer {
        width: 1170px;
    }
}
/*Конец футера*/

body {
    background: url("/resources/images/bg/bg_body.jpg");
}

#menu {
    float: left;
}

.list-group-item-heading,
#title {
    color: #d58512;
}

.list-group-item {
    background: url("/resources/images/bg/menu_item.png");
}

a.list-group-item:hover{
    color: #ffffff;
    background: url("/resources/images/bg/menu_item_hover.png");
}

#body {
    float: left;
    text-align: center;
}

.thumbnail,
.media {
    background-color: #0f0f0f;
}

#entry {
    float: left;
    padding: 0px;
}

#basket {
    background: url("/resources/images/bg/bg_basket.jpg");
    width: 200px;
}

#price {
    text-align: right;
}

#goods,
#price,
#text {
    font-size: 14px;
    color: #ffffff;
}

.btn-primary {
    color: #a50;
    background: url("/resources/images/bg/menu_item.png");
    border-color: #000000;
}

.btn-primary:hover,
.btn-primary:active{
    background: url("/resources/images/bg/menu_item_hover_btn.png");
    border-color: #000000;
}

a:link,
a:visited {
    font-weight: bold;
    font-size: 16px;
    color: #a50;
}

a:hover,
a:focus {
    color: #d58512;
}

